openapi: 3.0.3
info:
  title: Dokumen API Cloud Function - OpenAPI 3.0
  description: >-
Dokumentasi API MataKuliah GIS
  termsOfService: https://gisdaps.github.io/swagger
  contact:
    email: daffaaudyapramana03@gmail.com
  license:
    name: Backend Package
    url: https://pkg.go.dev/github.com/gisdaps/gcpbackends6
  version: 0.0.1
externalDocs:
  description: Swagger
  url: https://gisdaps.github.io/swagger
servers:
  - url: https://asia-southeast2-wegotour-403712.cloudfunctions.net/
tags:
  - name: auth
    description: Authentikasi
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/gisdaps/gcpbackends6
  - name: data
    description: Data Untuk akses GIS
    externalDocs:
      description: Deskripsi dan Kode Program
      url: https://github.com/gisdaps/gcpbackends6
paths:
  /LoginGeo:
    post:
      tags:
        - aauth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
  
  /GetDataGeo:
    get:
      tags:
        - data
      summary: Get Data Geojson
      description: Header auth
      operationId: GetdataGeojson
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Peta'
        '400':
          description: Invalid status value
      security:
        - token:
          - write:apiKey
          - read:apiKey
  /wegotour-post:
    post:
      tags:
        - auth
      summary: Login get Token
      description: Login and Get User Token
      operationId: authService
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Auth'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey

  /wegotour-post/ticket:
    post:
      tags:
        - ticket
      summary: Post Ticket
      description: Insert Ticket
      operationId: InsertTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ticket'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '405':
          description: Invalid input
      security:
        - token:
            - write:apiKey
            - read:apiKey
components:
  schemas:
    Auth:
      type: object
      properties:
        username:
          type: string
          example: daffa
        password:
          type: string
          example: kepoaha
    AuthResponse:
      type: object
      properties:
        status:
          type: bool
          example: true
        token:
          type: string
          example: anjasy
        message:
          type: string
          example: Selamat Datang
    Peta:
      type: object
      properties:
        type:
          type: string
        geometry:
          type: object
          properties:
            type: 
              type: string
            coordinates: 
              type: array
        properties:
          type: object
          properties:
            name:
              type: string

  requestBodies:
    AuthReq:
      description: Request Authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Auth'
    DataArray:
      description: List of user object
      content:
        application/json:
          schema:
            type: array
            items:
              $ref: '#/components/schemas/AuthResponse'
  securitySchemes:
    token:
      type: apiKey
      name: token
      in: header

      